---
title: 'Made with FluCoMa'
permalink: '/made-with/index.html'
layout: "layouts/article.njk"
templateEngineOverride: njk,md
---

Below are pieces of music and software that have made use of the FluCoMa tools during its funded period (2017-2023), in additions to the official [project commissions](/commissions). Interrogating our design choices through early creative, practical use was integral to the project design, and we are very excited that people outside the project team have started to use the tools for their own work. If you've used them, please let us know on the [forum](https://discourse.flucoma.org/c/made-with-flucoma/). 

## Music 

{{ music | madeWith | safe}}

## Software 

{{ software | madeWith | safe}}
