:root {
  --main-nav-s-width: 260px;
  --main-nav-m-width: 64vw;
  --main-nav-l-width: 50vw;
}

.main-nav {
  background-color: var(--dark-blue);
  color: #fff;
}

.main-nav_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}


.main-nav_close {
  position: absolute;
  top: var(--base-spacing);
  right: var(--base-spacing);
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-color: var(--dark-blue);
  border: none;
  color: var(--dark-blue);
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: #fff;
    color: #fff;

    &::before,
    &::after {
      background-color: var(--dark-blue);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -2px;
    background-color: #fff;

  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  @media (--for-tablet-landscape-up) {
    top: calc(var(--base-spacing) /2);
    right: calc(var(--base-spacing) /2);
  }
}

.main-nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 100%;
  justify-content: center;

  @media (--for-tablet-portrait-up) {
    font-size: 4vh;
  }
}

.main-nav_item {
  display: block;
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
}

.main-nav_link {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.5;
  transition: padding 0.5s;

  &:hover,
  &:focus {
    background-color: #fff;
    color: var(--dark-blue);
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
  }
}


/* override offside width */
.offside {
  width: var(--main-nav-s-width);

  @media (--for-tablet-portrait-up) {
    width: var(--main-nav-m-width);
  }

  @media (--for-tablet-landscape-up) {
    width: var(--main-nav-l-width);
  }
}

.offside,
.offside--left {
  left: calc(0 - var(--main-nav-s-width));

  @media (--for-tablet-portrait-up) {
    left: calc(0 - var(--main-nav-m-width));
  }

  @media (--for-tablet-landscape-up) {
    left: calc(0 - var(--main-nav-l-width));
  }
}

.offside--right {
  left: auto;
  right: calc(0 - var(--main-nav-s-width));

  @media (--for-tablet-portrait-up) {
    right: calc(0 - var(--main-nav-m-width));
  }

  @media (--for-tablet-landscape-up) {
    right: calc(0 - var(--main-nav-l-width));
  }
}

.offside--left.is-open,
.offside-js--is-left .offside-sliding-element {
  transform: translate3d(var(--main-nav-s-width), 0, 0);

  @media (--for-tablet-portrait-up) {
    transform: translate3d(var(--main-nav-m-width), 0, 0);
  }

  @media (--for-tablet-landscape-up) {
    transform: translate3d(var(--main-nav-l-width), 0, 0);
  }
}

.offside--right.is-open,
.offside-js--is-right .offside-sliding-element {
  transform: translate3d(calc(0 - var(--main-nav-s-width)), 0, 0);

  @media (--for-tablet-portrait-up) {
    transform: translate3d(calc(0 - var(--main-nav-m-width)), 0, 0);
  }

  @media (--for-tablet-landscape-up) {
    transform: translate3d(calc(0 - var(--main-nav-l-width)), 0, 0);
  }
}

.no-csstransforms3d > .offside-js--is-left .offside-sliding-element {
  right: calc(0 - var(--main-nav-s-width));

  @media (--for-tablet-portrait-up) {
    right: calc(0 - var(--main-nav-m-width));
  }

  @media (--for-tablet-landscape-up) {
    right: calc(0 - var(--main-nav-l-width));
  }
}

.no-csstransforms3d > .offside-js--is-right .offside-sliding-element {
  left: calc(0 - var(--main-nav-s-width));

  @media (--for-tablet-portrait-up) {
    left: calc(0 - var(--main-nav-m-width));
  }

  @media (--for-tablet-landscape-up) {
    left: calc(0 - var(--main-nav-l-width));
  }
}
