.open-nav {
  height: 5px;
  padding: 0;
  font-size: 0;
  width: 34px;
  height: 32px;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  @nest .page_nav & {
    margin-bottom: 2vh;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      var(--mid-grey), var(--mid-grey) 18%,
      transparent 18%, transparent 41%,
      var(--mid-grey) 41%, var(--mid-grey) 59%,
      transparent 59%, transparent 82%,
      var(--mid-grey) 82%, var(--mid-grey) 100%
    );
  }

  &:hover,
  &:focus {
    &::before {
      background: linear-gradient(
        to bottom,
        var(--bright-blue), var(--bright-blue) 20%,
        transparent 20%, transparent 40%,
        var(--mid-blue) 40%, var(--mid-blue) 60%,
        transparent 60%, transparent 80%,
        var(--dark-blue) 80%, var(--dark-blue) 100%
      );
    }
  }
}
