.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.page_nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  text-align: right;
  padding: var(--base-spacing);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @nest [data-type="article"] & {
    @media (--for-laptop-up) {
      position: relative;
    }
  }

  @media (--for-tablet-landscape-up) {
    padding: calc(var(--base-spacing) /2);
  }
}

.page_main-nav {
  padding: calc(var(--base-spacing) /2);

  @media (--for-tablet-portrait-up) {
    display: none;
  }
}

.page_nav-repeated {
  visibility: hidden;
  position: fixed;
  top: -100px;
  right: 0;
  transition: top 0.5s;
  padding: var(--base-spacing);
  z-index: 8;
  text-align: right;
  background-color: rgba(255,255,255,0.75);

  @media (--for-tablet-landscape-up) {
    padding: calc(var(--base-spacing) /2);
  }

  @nest [data-scroll500="true"] & {
    visibility: visible;
    top: 0;
  }
}

.page_main {
  flex-grow: 1;

  @nest [data-type="article"] & {
    @media (--for-laptop-up) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
}

.page_footer {
  background-color: var(--dark-blue);
  color: #fff;
  padding: var(--base-spacing);
  font-size: 16px;

  @media (--for-tablet-landscape-up) {
    padding-top: calc(var(--base-spacing) /2);
    padding-bottom: calc(var(--base-spacing) /2);
  }
}

.page_footer-contact {
  @media (--for-tablet-landscape-up) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--base-spacing);
  }
}

.page_footer-heading {
  margin-bottom: 0.2em;
  text-transform: uppercase;
  font-size: 1em;
}

.page_footer-address {
  font-style: normal;
}

.page_footer-credit
{
  @media (--for-tablet-landscape-up) {
    grid-column-start: 3;
  }
}

.page_footer-copyright-credit {
  margin-top: var(--base-spacing);
  @media (--for-tablet-landscape-up) {
    display: grid;
    grid-template-columns: 1.9fr 0.1fr 1fr;
    grid-column-gap: var(--base-spacing);
  }
}
