.page-header {
  padding: calc(var(--base-spacing) /2) 0;

  @media (--for-tablet-portrait-up) {
    padding: 0;
  }

  @nest [data-type="home"] & {
    position: relative;
    padding: calc(var(--base-spacing) /2) 0;

    @media (--for-tablet-landscape-up) {
      padding: 0;
    }
  }
}

.page-header_logo {
  position: absolute;
  z-index: -1;
  width: 110vw;
  right: 11vw;
  top: -46vw;

  & .descender {
    display: none;
  }

  @media (--for-tablet-portrait-up) {
    width: 324px;
    left: -46px;
    top: -150px;
  }

  @nest [data-type="home"] & {
    width: 100vw;
    left: auto;
    right: 20vw;
    top: -48vw;
    transition: top 8s ease-out;

    @nest [data-scrolled] & {
      top: -60vw;
    }
  }

  @nest [data-type="article"] & {

    @media (--for-tablet-landscape-up) {
      width: 360px;
    }

    @media (--for-laptop-up) {
      width: 48vw;
      top: 3vh;
      left: -19vw;

      & .descender {
        display: inherit;
      }
    }
  }
}

.page-header_logo-text {
  mix-blend-mode: luminosity;
  padding: var(--base-spacing);
  display: block;
  height: 66vw;
  box-sizing: border-box;

  & svg {
    height: 100%;
    max-width: 100%;
  }

  @media (--for-tablet-portrait-up) {
    height: 150px;
    box-sizing: content-box;
  }

  @nest [data-type="home"] & {
    height: 66vw;
    box-sizing: border-box;

    @media (--for-tablet-landscape-up) and (orientation: landscape) {
      height: 98vh;
    }

    @media (--for-laptop-up) and (min-height: 970px) {
      height: 950px;
    }
  }

  @nest [data-type="article"] & {
    @media (--for-laptop-up) {
      position: absolute;
      top: 60px;
      z-index: 2;
      width: 33%;
      height: auto;
      box-sizing: border-box;
      padding-top: calc(var(--base-spacing) /2);
    }
  }
}
