<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="Fluid Corpus Manipulation" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/img/FluCoMa_512.jpg" />
		<meta property="og:url" content="https://www.flucoma.org" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>

		<div class="main-nav" aria-hidden="true">
			<nav class="main-nav_content">
				<ul class="main-nav_list">
					{%- for title, link in navigation.secondary -%}
						<li class="main-nav_item" data-type="secondary">
							<a class="main-nav_link" href="{{ link }}">{{ title }}</a>
						</li>
					{%- endfor -%}
					{# {%- for title, link in navigation.primary -%}
						<li class="main-nav_item" data-type="primary">
							<a class="main-nav_link" href="{{ link }}">{{ title }}</a>
						</li>
					{%- endfor -%} #}
				</ul>
				<button class="main-nav_close js-close-nav" data-close>Close menu</button>
			</nav>
		</div>

		<div class="page-overlay"></div>

		<div class="page"{% if pagetype %} data-type="{{ pagetype }}"{% endif %}>
			<nav class="page_nav">
				<ul class="nav-primary">
					{%- for title, link in navigation.primary -%}
						<li class="nav-primary_item">
							<a class="nav-primary_link" href="{{ link }}">{{ title }}</a>
						</li>
					{%- endfor -%}
				</ul>
				<button class="open-nav js-open-nav">Open menu</button>
			</nav>

			<main class="page_main">
				{% include "components/page-header.njk" %}

				<nav class="page_main-nav">
					<ul class="nav-primary">
						{%- for title, link in navigation.primary -%}
							<li class="nav-primary_item">
								<a class="nav-primary_link" href="{{ link }}">{{ title }}</a>
							</li>
						{%- endfor -%}
					</ul>
				</nav>

				{{ content | safe }}
			</main>

			<div class="page_nav-repeated">
				<button class="open-nav js-open-nav">Open menu</button>
			</div>

			<footer class="page_footer" id="footer">
				<div class="page_footer-contact">
					<div>
						<h3 class="page_footer-heading">Address</h3>
						<address class="page_footer-address">
							{%- for line in contact.address -%}
								{{ line }}
								{%- if loop.index <  contact.address | length -%}
								<br />
								{%- endif -%}
							{%- endfor -%}
						</address>
					</div>

					<div>
						{%- if contact.phone -%}
						<h3 class="page_footer-heading">Phone</h3>
						{{ contact.phone }}
						{%- endif -%}

						{%- if contact.email -%}
						<h3 class="page_footer-heading">Email</h3>
						<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
						{%- endif -%}
					</div>

					<div>
						{%- if contact.twitter -%}
						<h3 class="page_footer-heading">Twitter</h3>
						<a href="https://twitter.com/{{ contact.twitter }}">twitter.com/{{ contact.twitter }}</a>
						{%- endif -%}

						{%- if contact.facebook -%}
						<h3 class="page_footer-heading">Facebook</h3>
						<a href="https://www.facebook.com/{{ contact.facebook }}">facebook.com/{{ contact.facebook }}</a>
						{%- endif -%}

						{%- if contact.instagram -%}
						<h3 class="page_footer-heading">Instagram</h3>
						<a href="https://www.instagram.com/{{ contact.instagram }}/">instagram.com/{{ contact.instagram }}</a>
						{%- endif -%}
					</div>
				</div>
        
				<div class="page_footer-copyright-credit">
					<p class="page_footer-copyright">
						© The Fluid Corpus Manipulation Project. All rights reserved.
					</p>
            <div class="page_footer-eu-credit">
              This project has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 725899).
              <figure class='page_footer-erc-logo'>
                {% include "LOGO_ERC-FLAG_EU.svg" %}
              </figure> 
            </div>
					<p class="page_footer-credit">
						 Design by <a target="_blank" href="https://samsmith.name/">Sam Smith</a>
					</p>
				</div>
			</footer>
		</div>

		<script>
		{%- set js -%}
	    {% include "js/scroll.js" %}
			{% include "js/vendor/offside.js" %}
			{% if pagetype == 'home' %}
			  {% include "js/vendor/dotdotdot.js" %}
			{% endif %}
			// nav
			var myOffside = offside( '.main-nav', {
				buttonsSelector: '.js-open-nav, .js-close-nav',
				slidingSide: 'right',
			});
			var overlay = document.querySelector('.page-overlay')
                .addEventListener( 'click', offside.factory.closeOpenOffside );

			{% if pagetype == 'home' %}
			// clamp
			document.addEventListener( "DOMContentLoaded", () => {
			   let wrappers = document.querySelectorAll( ".latest-news_text" );
			   let options = {
			      watch: true
			   };

				 wrappers.forEach(function(wrapper) {
				  new Dotdotdot( wrapper, options );
				});
			});
			{% endif %}
	  {%- endset -%}
	  {{ js | jsmin | safe }}
		</script>
	</body>
</html>
