---
title: 'Download'
permalink: /download/index.html
layout: 'layouts/download.njk'
---
 
<h1>Fluid Manipulation Toolkit</h1>

<p>
The FluCoMa software consists of objects for decomposing and describing audio, and for manipulating collections of sonic data by querying, matching, learning and transforming. 
</p>

<p>The complete toolkit is available for Max, SuperCollider and Pure Data, and the decomposiiton / description tools are availble for the command line. 
</p>

<ul class="nav-release"> 
{% for r in releases %}
<li class ="nav-release_block">
  <h4>{{r.name}}</h4>
  <ul class="nav-download">
  {% for l in r.links %}
    <li class="nav-download_item">
      <a target="_blank" class="nav-download_link" href="{{l.url}}">{{l.label}}</a>
    </li>    
  {% endfor %}
    <li class="nav-download_item download-github">
      <a href="{{r.source}}">
        <img src="../img/Github.svg" alt="Get the FluCoMa source code from Github.com" title="Get the FluCoMa source code from Github"/>
      </a>
    </li>
  </ul>

{% endfor %}
{#<li class="nav-release_block">      
   <h4>Source Code</h4>
    <ul class="nav-download">
    <li class="nav-download_item" >
        <a class="nav-download_link" href="https://github.com/flucoma/">
           <img src="/img/GitHub_Logo.png" width="5%" /> 
          FluCoMa project Github repositories      
        </a>
    </li> 

  </ul> 
</li>#}
</ul>
